@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@theme {
  --color-bg: #000;
  --color-surface: #252525;
  --color-surface-light: #333;
  --color-surface-0: #444;
  --color-fg: #fff;
  --color-muted: #888;

  --font-mono: "JetBrains Mono", monospace;
  --spacing-nav: 6rem;
  --spacing-progress: 8rem;
  --spacing-content: 32rem;

  /* --drop-shadow-base: 0 4px 6px rgb(0 0 0 / 0.1); */
  --drop-shadow-base: 0 5px 3px rgb(0 0 0 / 0.15);

  --dashed-border-src: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23444' stroke-width='5' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

body {
  @apply bg-bg text-fg font-mono text-sm selection:bg-fg selection:text-bg;
}

canvas {
  image-rendering: pixelated;
}

.dashed {
  background-image: var(--dashed-border-src);
}

::-webkit-scrollbar {
  width: 16px;
  background-color: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  border: 5px solid rgba(0, 0, 0, 0);
  background-color: var(--color-surface);
  background-clip: padding-box;
  border-radius: 999px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
